<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Map and Webcam</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsviPjZmttywhWoL1ybbl_q3dyav2M5CU&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
    <script src="./static/js/jquery-3.5.1.js"></script>
    <script src="./static/js/ovenplayer.js"></script>
    <script src="./static/js/map.js"></script>
</head>

<body>
    <div id="container1">
        <div id="map"></div>
        <div id="webcam1">
        </div>
    </div>

    <div id="container2">
        <div id="webcam2">
        </div>
    </div>

    <div id="button">
        <div id="connect">
            <button onclick="switchState()">Switch State</button>
            <button onclick="getStatus()">Get Status</button>
        </div>
    </div>


    <script>
    
        let webrtcSources1 = OvenPlayer.generateWebrtcUrls([
                {
                     host : 'ws://34.222.11.214:3333',
                     application : 'app',
                     stream : "stream1",
                     label : "stream1"
                }
            ]);

        let webrtcSources2 = OvenPlayer.generateWebrtcUrls([
                {
                     host : 'ws://34.222.11.214:3333',
                     application : 'app',
                     stream : "stream2",
                     label : "stream2"
                }
            ]);
        
        let player1 = OvenPlayer.create("webcam1", {
            sources: webrtcSources1
        });

        let player2 = OvenPlayer.create("webcam2", {
            sources: webrtcSources2
        });

        player1.on("error", function(error){
            console.log(error);
        });

        player2.on("error", function(error){
            console.log(error);
        });
        
    </script>

    <script>
    function switchState() {

        if (player2.getState() != null) {
             player2.remove();
             document.getElementById("container1").style.height = "90%"
             document.getElementById("container2").style.height = "0%"
        }
        else {
            player2 = OvenPlayer.create("webcam2", {
                sources: webrtcSources2
            });
            document.getElementById("container1").style.height = "45%"
            document.getElementById("container2").style.height = "45%"
        }
    }

    function getStatus() {
        let T_state = player2.getState();
        console.log(T_state);
    }
	
    </script>
</body>
</html>
